<div class="row">
    <div class="col-md-6-auto">
        <div class="card card-body">
            <form method="POST" action = '/loguser'>
                <div class="form-group">
                    <label class="exampleInputEmail1">Email address</label>
                    <input type="email"  class="user-id form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password"  class="password form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>